<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<body>
<div layout:fragment="content" class="container">

    <h2>Create Category</h2>

    <form th:action="@{/categories/create}"
          th:object="${category}"
          method="post">

        <div class="mb-3">
            <label>Name</label>
            <input class="form-control"
                   th:field="*{name}">

            <div class="text-danger"
                 th:errors="*{name}"></div>
        </div>

        <button class="btn btn-success">
            Save
        </button>

    </form>

</div>
</body>
</html>
