<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{_layout :: layout(~{::content})}">

<div th:fragment="content">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-header bg-warning">
                    <h4>Sửa sản phẩm</h4>
                </div>

                <div class="card-body">

                    <form th:action="@{/products/edit/{id}(id=${product.id})}" th:object="${product}" method="post"
                        enctype="multipart/form-data">

                        <!-- NAME -->
                        <div class="mb-3">

                            <label class="form-label">Tên sản phẩm</label>

                            <input type="text" class="form-control" th:field="*{name}">

                            <div class="text-danger" th:errors="*{name}">
                            </div>

                        </div>

                        <!-- PRICE -->
                        <div class="mb-3">

                            <label class="form-label">Giá</label>

                            <input type="number" class="form-control" th:field="*{price}">

                            <div class="text-danger" th:errors="*{price}">
                            </div>

                        </div>

                        <!-- IMAGE -->
                        <div class="mb-3">

                            <label class="form-label">Hình ảnh mới</label>

                            <input type="file" class="form-control" name="imageFile">

                        </div>

                        <!-- OLD IMAGE -->
                        <div class="mb-3">

                            <img th:if="${product.image != null}" th:src="@{'/images/' + ${product.image}}" width="120"
                                class="rounded shadow">

                        </div>

                        <!-- CATEGORY -->
                        <div class="mb-3">

                            <label class="form-label">Danh mục</label>

                            <select class="form-select" th:field="*{category.id}">

                                <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}">
                                </option>

                            </select>

                        </div>

                        <div class="d-flex justify-content-between">

                            <a th:href="@{/products}" class="btn btn-secondary">
                                Back
                            </a>

                            <button class="btn btn-warning">
                                Update
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

</html>